/* styles.css */

body {
    font-family: 'Roboto', sans-serif;
}

.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.dark-mode .atividade {
    background-color: #1e1e1e;
}

.dark-mode #jsonOutput {
    background-color: #2c2c2c;
    color: #ffffff;
}

.atividade {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: #f8f9fa;
    transition: background-color 0.3s ease;
}

.atividade > *:not(:last-child) {
    margin-bottom: 15px;
}

.dark-mode .atividade {
    background-color: #1e1e1e;
}

#jsonOutput {
    background-color: #f1f1f1;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    padding: 15px;
    font-size: 0.95rem;
    overflow-wrap: break-word;
}

.dark-mode #jsonOutput {
    background-color: #2c2c2c;
    color: #ffffff;
}

.removeActivityBtn {
    align-self: flex-end;
}

.atividade .form-select,
.atividade .form-control,
.atividade textarea {
    margin-bottom: 10px;
}
